In [1]:
import pandas as pd

In [2]:
pd.read_csv('homeprices.csv')

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000